/* Remove border from cards */

.card {
    border: none;
};

/* Custom link styling */

.navbar a:hover {
  color: #0d6efd;
}

.buttons h5 a {
  color: #212529;
  text-decoration: none;
}

.buttons h5 a:hover {
  color: #0d6efd;
  text-decoration: none;
}

/* interactive map */
#iframemap {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}