/* Universal styles */

.card {
    border: none;
};



/* Custom link styling */

.navbar a:hover {
  color: #0d6efd;
}

.buttons h5 a {
  color: #212529;
  text-decoration: none;
}

.buttons h5 a:hover {
  color: #0d6efd;
  text-decoration: none;
}

/* Making the site responsive */
/* Mobile */
@media only screen and (max-width: 425px) {
  #mapimage {
    display: none;
  }

  .responsiveh1 {
    font-size: 2.75rem;
  }

  .mobilecontainer {
    padding: 1.5rem;
  }

  .responsivedesc {
    font-size: 1.25rem;
  }

  .buttons h5 a {
    font-size: 1.5rem;
  }

  #mainbuttons {
    display: none;
  }

  .card-text {
    padding: 0 2.5rem;
    font-size: 1.25rem;
  }

  .mobileh3 {
    font-size: 2rem;
    padding-top: 1rem;
  }

  .mobilep {
    font-size: 1.25rem;
  }

  .socialmobile {
    padding: 1rem;
  }

  .containerform {
    padding-top: 0;
  }

  form {
    font-size: 1.25rem;
  }
}

/* Tablet */
@media only screen and (max-width: 768px) {
  #mainbuttons {
    display: none;
  }

  #mapimage {
    width: 100%;
  }
}


@media only screen and (min-width: 769px) {
  #altbuttons {
    display: none;
  }
}

/* Map */
#iframemap {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

@media only screen and (max-width: 425px) {
  #iframemap {
    height: 550px;
  }
}

/* Get in touch */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0d6efd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0d6efd;
}

.containerform {
  box-sizing: border-box;
  border-radius: 5px;
}